.information{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: brown;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    min-height: 600px;
    width: 100%;
}

#headline{
    background-color: aqua;
    color: #735184
}

h3{font-size: 24px;}

div hr.solid {
    border: none;
    border-top: 2px solid #333;
    margin: 20px 0;
}

hr.dotted {
    border: none;
    border-top: 2px dotted #999;
    margin: 20px 0;
}

img.planet_image {
    width: 300px;
    height: 200px;
}

#space_news{
    background-color: aquamarine;
    color:crimson
}

.introduce{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}

ol {
    list-style-type: decimal; 
    margin: 0; 
    padding: 0; 
}
  
ol li {
    margin-bottom: 10px;
    margin-left: 20px;  
}

ul {
    list-style-type: square; 
    margin: 0; 
    padding: 0; 
}
  
ul li {
    margin-bottom: 10px;
    margin-left: 20px;
}